.container {
    container: flex;
    text-align: center;
    margin-top: 2%;
}

.customButton {
    margin: 5% 0% 5% 0%;
    text-align: center;
}

.inputField {
    text-align: center;
    border-radius: 5%;
    border-bottom-width: 5px;
    border-bottom-color: black;
    font-weight: 1000;
    font-size:xx-large;
    width: 150px;
    height: 65px;
}

label {
    font-weight: 1000;
    font-size:xx-large;
}

meter {
    width: 100%;
    height: 50px;
}

meter::-webkit-meter-optimum-value {
    background: rgb(32, 84, 255);
}