.container {
    text-align: center;
    margin-top: 10%;
}

.customButton {
    margin: 30px 0 30px 0;
    text-align: center;
}

.inputField {
    text-align: center;
    border-radius: 5%;
    border-bottom-width: 5px;
    border-bottom-color: black;
    font-weight: 1000;
    font-size:xx-large;
    width: 150px;
    height: 65px;
}

.expressionLabel {
    font-weight: 1000;
    font-size:xx-large;
}

meter {
    width: 100%;
    height: 50px;
}

meter::-webkit-meter-optimum-value {
    background: rgb(32, 84, 255);
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.OpLabel {
    margin: 0 5px 0 0;
    font-weight: 700;
    font-size: medium;
}

.OpDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 5px 0 5px;
    border-style: solid;
    border-width: 1px;
    margin: 0 2px 0 2px;
}

.controlDiv {
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    width: 370px;
    margin: auto;
    padding: 10px 5px 10px 5px;
}